<!DOCTYPE html>
<html>
<head>
    <title>Myblog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<header>
    <h1><%= title%></h1>
</header>
<nav>
    <span><a href="/" title="Home">home</a> </span>
    <% if(user) { %>
    <span><a title="Upload" href="/upload">upload</a> </span>
    <span><a href="/post" title="Publication">post</a> </span>
    <span><a href="/logout" title="Sign Out">logout</a> </span>
    <% } else { %>
    <span><a href="/login" title="Landed">login</a> </span>
    <span><a href="/reg" title="Registartion">register</a> </span>
    <% } %>
</nav>
<article>
    <% if(success) { %>
    <div><%= success%></div>
    <% } else { %>
    <%= error%>
    <% } %>