<%- include header %>
<form method="post">
    User Name：  <input type="text" name="name"/><br />
    PassWOrd：    <input type="password" name="password"/><br />
    Confirm Password：<input type="password" name="password-repeat"/><br />
    MailBox：    <input type="email" name="email"/><br />
    <input type="submit" value="Registration"/>
</form>
<%- include footer %>